/* ==========================================================================
	Colors
============================================================================= */

// ----------------- Core
$black: #000;
$white: #fff;
$beige: #FFF0E5;
$blue: #1557FF;
$green: #008A27;
$hyper: #3A10E5;
$lightBlue: #66C4FF;
$lightGreen: #AEE938;
$navy: #10162F;
$orange: #FF8C00;
$pink: #F966FF;
$paleRed: #DC5879;
$red: #E91C11;
$yellow: #FFD300;
$paleBlue: #F5FCFF;
$paleGreen: #F5FFE3;
$palePink: #FFF5FF;
$paleYellow: #FFFAE5;


$gray_10: #EAEAEA;
$gray_20: #CCCCCC;
$gray_30: #B2B2B2;
$gray_40: #999999;
$gray_50: #808080;
$gray_60: #666666;
$gray_70: #4D4D4D;
$gray_80: #333333;
$gray_90: #222222;
