/**
* Nav Menu
*/

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;

  a {
    position: relative;
    color: $black;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .logo-svg {
    width: 80px; // 8%
    margin-right: .5em;
  }
  .logo-text {
    display: flex;
    flex-direction: column;
    transform: translateY(10px);

    span:first-child {
      font-family: "Righteous", sans-serif;
      font-size: 3.25em;
      font-weight:400;
      letter-spacing: -1px;
    }
    span:last-child {
      font-size:1.25em;
      font-weight:400;
      text-transform:uppercase;
      letter-spacing: 4.5px;
      color: $gray_55;
      transform: translateY(-10px) translateX(6px);
    }
  }

  &-items {
    display:flex;
  }
}

.cart {
  padding-right: .25em;
}

#cart-count {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 30px;
  height: 30px;
  font-size: .85em;
  font-weight: 800;
  color: $gray_80;
  text-align: center;
  background-color: $peach;
  border-radius: 50%;
}

.logo .logo-text::after {
  display: block;
  content: "";
  height: 14px; // 5px
  width: 200px;
  position: absolute;
  bottom: 36px;
  background: url("i/wave.svg");
  background-size: 25px 17px; // 19px 11px
  opacity: 0;
  animation: move 10s linear infinite;
  transition: opacity .25s ease;
}

.logo:focus .logo-text::after,
.logo:hover .logo-text::after {
  opacity: 1;
}

@keyframes move {
  0% {
    background-position: 2px 19px;
  }

  100% {
    background-position: 500px 19px;
  }
}
