/**
 * Table Styles
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1em;
  max-width: 100%;
  width: 100%;
}


/**
 * Utility Classes
 */

.text-right {
  text-align: right;
}