/**
* Photo Layout
*/

.photo-info {
  display: flex;
  flex-direction: column;

  @media #{$min_md} {
    flex-direction: row;
  }

  button {
    color: $black;
    padding: 1em;
    border: 1.5px solid $black;
    border-radius: .25em;
    background-color: $yam;
    transition: box-shadow .2s ease, transform .2s ease;
    cursor: pointer;

    &:hover, &:focus {
      transform: translate(4px, -4px);
      box-shadow: -6px 6px 0 $charcoal;
    }
  }
}

.photo-info img {
  width: 100%;
  padding: .5em;
  border: 1.5px solid $black;
  border-radius: 3px;
  background-color: $white;
  box-shadow: -6px 6px 0 $charcoal;

  @media #{$min_md} {
    // width: 60%;
    height: fit-content;
    flex: 1 1 60%;
  }
}

.photo-desc {
  padding: 3em 0;

  @media #{$min_md} {
    flex: 1 1 40%;
    padding: 3em 1em 3em 3em;
  }

  h1 {
    @include hg-7;
    font-size: 2.75em;
  }

  p {
    font-size: 1.1em;
    padding: 1em 0;
  }

  em {
    display:inline-block;
    width: fit-content;
    background-color: $tan2;
    padding: 1em;
    border-radius: 6px;
  }

}